{% extends 'base.html.twig' %}

{% block title %}SOCIETE LOCATION VOITURE{% endblock %}

{% block body %}
<div class="card" style="width: 18rem;">
  <img src="https://data.photofunky.net/output/image/8/9/4/f/894fde/photofunky.gif" class="card-img-top" alt="">
  <div class="card-body">
    <p class="card-text">BIENVENUE CHEZ SVTC.</p>
  </div>



{% endblock %}
